:root{
	background: antiquewhite;
}

table,
td {
	border: 1px solid #333;
}

table img{
	margin-left: auto;
	margin-right: auto;
	width: 397px;
}

thead,
tfoot {
	background-color: #333;
	color: #fff;
}
